  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    transition: opacity 200ms ease-out;
  }

  .helper-icon {
    margin-right: 1rem;
    width: 5rem;
    user-select: none;
  }