.shortcut-helpers {
  position: absolute;
  left: 50%;
  top: auto;
  bottom: 0;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 10rem;
  max-height: 15rem;
  // outline: 1px solid white;
  padding: 1rem;
  font-family: 'AnonymousPro';
  font-size: 1rem;
  color: white;
  flex-direction: column;
  gap: 1.5rem;

}