svg {
  position: absolute;
  inset: 0;
  transform: translate(0, -50%);
  fill: var(--color-purple);
  overflow: visible;
  cursor: grab;
  z-index: -10;
  transform-origin: center;
  animation: bubble 1000ms infinite;

}

@keyframes bubble {
  0% {
    transform: rotate(0deg) translate(0, -50%);
  }

  25% {
    transform: rotate(3deg) translate(0, -50%);
  }

  50% {
    transform: rotate(-3deg) translate(0, -50%);
  }

  100% {
    transform: rotate(0deg) translate(0, -50%);
  }
}