.input-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 3rem;
  font-family: 'AnonymousPro';
  text-align: center;
  width: 70%;
  height: 10rem;
  // padding: 3rem;
  backdrop-filter: blur(50px);
  border-radius: .5rem;
  box-shadow: 2px 9px 10px 1px rgba(0, 0, 0, 0.05);
  cursor: text;

  * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #rich-search-input {
    display: inline-block;
    min-width: 1rem;
    width: fit-content;
    max-width: 90%;
    text-align: center;
    white-space: pre-wrap;
  }
}

.text-span {
  position: relative;
}




.input-container .input-container>.text-container {
  color: transparent;
  max-width: 90%;
  user-select: none;
  pointer-events: none;
}

#rich-search-input::selection {
  background-color: var(--color-blue);
}