.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  max-width: 40rem;
  height: fit-content;
  font-family: 'AnonymousPro', sans-serif;
  color: white;
  margin-bottom: 1.5rem;
  // backface-visibility: hidden;
  // -moz-backface-visibility: hidden;
  // -webkit-backface-visibility: hidden;
  // will-change: transform3d, scale, opacity, transform;

  .search-result-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 7rem;
    height: fit-content;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    transition: background-color 200ms ease-out;
    user-select: none;

    a {
      width: fit-content;
      max-width: 100%;
      text-decoration: underline;
      cursor: pointer;
      // text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
    }

    .search-index-number {
      top: 5%;
      left: auto;
      right: 0;
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      transform: translate(100%, 0);
      padding-left: 1rem;
      transition: scale 200ms ease-out;

      &:hover {
        scale: 1.1;
        text-shadow: 0 0 10px white;
        cursor: pointer;
      }
    }
  }

  &.active-result .search-result-content {
    background: linear-gradient(90deg, var(--color-hot-pink), var(--color-pink-orange));

    .search-index-number {
      scale: 1.1;
      text-shadow: 0 0 10px white;
      cursor: pointer;
    }
  }
}