.search-result {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 40rem;
  height: 7rem;
  font-family: 'AnonymousPro', sans-serif;
  color: white;
  margin-bottom: 1.5rem;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: transform3d, scale, opacity;

  .search-result-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    transition: background-color 200ms ease-out;

    a {
      text-decoration: underline;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .search-index-number {
      top: 5%;
      left: auto;
      right: 0;
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      transform: translate(100%, 0);
      padding-left: 1rem;
      transition: scale 200ms ease-out;

      &:hover {
        scale: 1.1;
        text-shadow: 0 0 10px white;
        cursor: pointer;
      }
    }
  }

  &.active-result .search-result-content {
    background: linear-gradient(90deg, rgb(255, 101, 101) 0%, rgb(255, 85, 176) 100%);

    .search-index-number {
      scale: 1.1;
      text-shadow: 0 0 10px white;
      cursor: pointer;
    }
  }
}