.search-result {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 40rem;
  height: 7rem;
  font-family: 'AnonymousPro', sans-serif;
  color: white;
  margin-bottom: 1.5rem;

  .search-result-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;

    a {
      text-decoration: underline;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .search-index-number {
      top: 5%;
      left: auto;
      right: 0;
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      transform: translate(100%, 0);
      padding-left: 1rem;
    }
  }
}