.rich-input-container {
  width: 80%;
  min-height: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1);
  // outline: 1px solid white;
  font-family: 'AnonymousPro';
  border-radius: .5rem;
  transition: all 200ms ease-out;
  transition-property: backdrop-filter, box-shadow;

  &.not-typing {
    backdrop-filter: blur(10px);
    box-shadow: 2px 9px 10px 1px rgba(0, 0, 0, 0.1);
  }

  &.result-screen {
    box-shadow: 2px 9px 10px 1px rgba(0, 0, 0, 0.2);

  }
}


.text-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  // outline: 1px solid green;
  text-align: center;
  cursor: text;
  word-break: break-word;

  &.selecting {
    pointer-events: none;
  }
}

.rich-input,
.span-container,
#input-placeholder {
  min-width: 1rem;
  width: fit-content;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4vw;
  line-height: 6vw;
}

.rich-input {
  z-index: 100;
  color: transparent;
  caret-color: white;
}

.span-container {
  color: white;
  pointer-events: none;
  user-select: none;
  z-index: 0;

  span.selecting {
    pointer-events: auto;
  }

  span[data-isnumber='true'] {
    color: white;
    background-size: 100% 100%;
    transition: text-shadow 200ms ease-out;

    &::before {
      content: '';
      transform: translate(-100%, -50%) scale(0);
      width: .7rem;
      height: .7rem;
      border-radius: 100%;
      background: var(--color-hot-pink);
    }
  }

  span[data-isnumber='true'].hovering {
    position: relative;
    border-radius: .3rem;
    text-shadow: 3px 3px 1px var(--color-hot-pink);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-100%, -50%) scale(1);
    }

  }

  span[data-isnumber='true'].selecting {
    pointer-events: none;
  }

}