@import './shared-variables.scss';

@font-face {
  src: url('./assets/Fonts/AnonymousPro-Regular.ttf');
  font-family: 'AnonymousPro';
}

.App {
  position: relative;
  height: 100vh;
  background-color: var(--color-dark-blue);
  overflow: hidden;
  font-family: 'AnonymousPro', sans-serif;
}

.circle-container {
  position: relative;
  outline: 1px solid white;
  height: 100%;
  width: 100%;

  div {
    position: absolute;
    inset: 0;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: all 1500ms cubic-bezier(.04, .66, .14, .99);
    transition-property: top, left, width;
  }

  .pink-circle {
    top: -5%;
    left: -15%;
    width: 25rem;
    background-color: var(--color-hot-pink);
    filter: blur(1px);
    box-shadow: 0 0 1.2rem 0.2rem var(--color-hot-pink),
      inset 0rem -0.4rem 1.3rem 0.2rem white;
    transition-delay: 0ms;

    &.finished {
      top: -10%;
      left: -10%;
      width: 15rem;
    }
  }

  .red-circle {
    top: 40%;
    left: 70%;
    width: 40rem;
    filter: blur(1px);
    background-color: var(--color-pink-orange);
    box-shadow: 0 0 2rem .2rem var(--color-pink-orange),
      inset 0rem 0rem 3rem .5rem white;
    transition-delay: 100ms;

    &.finished {
      top: 70%;
      left: 70%;
      width: 30rem;
    }
  }

  .purple-circle {
    top: 70%;
    left: 10%;
    width: 5rem;
    background-color: var(--color-purple);
    filter: blur(1px);
    box-shadow: 1px 1px 1.2rem 0.1rem var(--color-purple),
      inset 0rem 0.4rem 0.4rem 0rem white;
    transition-delay: 50ms;

    &.finished {
      top: 40%;
      left: 10%;
    }
  }
}

.option-button {
  position: absolute;
  inset: 0;
  height: fit-content;
  top: 5%;
  left: 5%;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-out;

  &.option-shown::after {
    content: '(Esc)';
    font-size: .8rem;
  }

  &:hover {
    text-shadow: 1px 1px 10px white;
  }
}